input, body {
    font-family: sans-serif;
}
h1,
h2 {
    font-family: 'Work Sans', sans-serif; 
    font-size: 1.5rem;
}
.card {
    background-color: lightgray;
    background-image: url("watermark.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 280px;
    margin: 2em 1em;
    padding: 0em 1em;
    width: 500px;
}
.card { overflow: hidden; }
@media print
{    
.card {page-break-inside: avoid;}
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.error { color: red; }
input, button, select {font-size: 1em; padding: 5px; border-radius: 5px;}

